.brand {
    display: flex;
    margin: 6rem 4rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}
.brand div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand div:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .brand {
        margin: 3rem 4rem;
    }
}
