*,
*::before,
*::after {
    font-family: var(--font-family);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #ffffff;
}

body {
    background: var(--color-bg);
}

a {
    position: relative;
    text-decoration: none;
}
a:hover {
    color: var(--color-text);
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--gradient-bar);
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul {
    list-style-type: none;
}

button {
    background: unset;
    border: unset;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section {
    position: relative;
    z-index: 1;
}

.gradient--bg {
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
.gradient--text {
    background: var(--gradient-text);
    background-clip: text;
    color: transparent;
}
