*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

button {
    background: unset;
    border: unset;
    font-family: var(--font-family);
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

.gradient__bg {
    background: radial-gradient(
        circle at 3% 25%,
        rgba(0, 40, 83, 1) 0%,
        rgba(4, 12, 24, 1) 100%
    );
}
