.header {
	padding: 0 0 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
}

.header__content {
	flex: 1.2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.header__content h1 {
	margin-bottom: 2rem;
	font-weight: 800;
	font-size: 62px;
	line-height: 75px;
	letter-spacing: -0.04em;
	flex: 3;
}
.header__content p {
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 2rem;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: var(--color-text);
	flex: 1;
}

.header__input {
	margin-bottom: 2rem;
	width: 100%;
	display: flex;
}
.header__input input {
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	background: var(--color-footer);
	border: none;
	border-radius: 5px 0px 0px 5px;
	padding: 1rem;
	flex: 2;
	outline: none;
}
.header__input button {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	background: #ff4820;
	padding: 1rem;
	border-radius: 0px 5px 5px 0px;
}

.header__people {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.header__people img {
	height: 36px;
	margin-right: 1rem;
}
.header__people p {
	font-weight: 500;
	font-size: 12px;
	line-height: 38px;
	margin: 0;
}

.header__image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.header__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: visible;
	transform: translateX(1rem);
}

@media screen and (max-width: 1050px) {
	.header {
		flex-direction: column;
		height: auto;
		margin: 2rem;
		padding: 0;
	}

	.header__content {
		margin: 0 0 3rem;
	}
	.header__image img {
		max-height: 600px;

	}

}

@media screen and (max-width: 768px) {
	.header__content h1 {
		font-size: 48px;
		line-height: 60px;
	}

	.header__content p {
		font-size: 16px;
		line-height: 24px;
	}
}
