.overlay {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.mobile--hamburger {
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: none;
    z-index: 3;
}
.mobile--hamburger:hover {
    cursor: pointer;
}

.mobile__nav a {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
    .mobile--hamburger {
        display: block;
    }
    .mobile__nav {
        position: fixed;
        z-index: 2;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 100px 2rem;
        height: 100%;
        width: 300px;
        background: var(--color-bg);
    }
    .mobile__nav a:nth-child(6),
    .mobile__nav a:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .mobile__nav a:nth-child(6),
    .mobile__nav a:nth-child(7) {
        display: block;
    }
}
